<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta property="og:title" content="weplay - collaborative play"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://play.blew.es/screenshot.png"/>
    <meta property="og:url" content="http://play.blew.es/"/>
    <meta property="og:site-name" content="weplay"/>
    <title>weplay – collaborative play</title>
    <link rel="stylesheet" href="/fonts.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/app.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
</head>
<body>
<div id="app">
    <img alt="game" class="placeholder" src="data:image/png;base64,{{img}}"/>
</div>
<script>
    config = {{{config}}};
</script>
<script src="/main.js"></script>
</body>
</html>
