
#game {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  .screen-keys {
    display: none;
  }
}

body.touch #game table.unjoined {
  display: none;
}

#game {
  .keyboard {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    width: 35px;
    height: 26px;
    line-height: 0;
    text-align: left;
    background: rgba(255, 255, 255, 0.3);
  }
  img {
    height: 100%;
    width: 100%;
  }
}

.count-wrapper {
  background: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  color: #333;
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  font-weight: bold;
  padding: 2px 4px;
  color: #fff;
}

.move-wrapper {
  background: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  color: #333;
  position: absolute;
  top: 40px;
  left: 10px;
  display: block;
  font-weight: bold;
  padding: 2px 4px;
  color: #fff;
}

.keyboard {
  display: none;
}